@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Kalam:wght@700&family=Philosopher:wght@700&family=Poppins:wght@500&family=Roboto+Slab:wght@100;700&family=Ubuntu:wght@500&display=swap');
/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
} */
*{
  margin: 0;
  padding: 0;
  text-decoration: none;
}
body{
  background-color: #f0d9d9;
}
.max-width{
  width: 1300px;
  margin: auto;
}
.navbar{
  position: fixed;
  top: 0;
 width: 100%;
 background-color: #b4c4d58f;
 color: #fff;
 padding: 12px 0px;
 font-family: 'Ubuntu','san-serif';
 z-index: 9999;
}
.navbar .Search input{
  width: 398px;
  border-radius: 6px;
  padding: 8px;
  border: 2px solid crimson;
}
.navbar .btn:hover{
  background-color: crimson;
  color: #fff;
}
.navbar .btn{
  padding: 8px 12px;
  color: crimson;
  font-weight: 500;
  border-radius: 6px;
  background: transparent;
  outline: none;
  border: 2px solid crimson;
  margin: 5px;
}
.nav:hover .menu{
  display: block;
}
.menu{
  display: none;
  position: absolute;
  right: 5%;
  top: 78%;
  background-color: #fff;
}
.navbar .max-width{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .max-width .logo1{
  width: 23px;
  height: 23px;
  /* background: black; */
  border-radius: 50%;
  display: none;
}
.navbar .max-width .logo a span:nth-child(1){
  color: crimson;
}
.navbar .max-width .logo a{
  color: #111;
  font-size: 27px;
  font-weight: 700;
}
.navbar .max-width .menu li{
  display: block;
  list-style: none;
  margin: 8px 0px;
}
.navbar .max-width .menu li a{
    color: #111;
    font-size: 16px;
    font-weight: 500;
    padding: 10px;
    transition: all 0.3s ease;
}
.navbar .max-width .menu li a:hover{
    color: #ac2424;
}


/* News Styling  */
.news{
  margin-top: 80px;
}
.news .max-width{
  padding: 0px 40px;
}
.news .text{
  text-align: center;
  margin: 30px 80px;
}
.news .news-content{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.news .news-content .card{
  width: calc(33% - 20px);
  margin-bottom: 25px;
  position: relative;
}
/* .news .max-width .card .image{
  width: 100%;
  display: block;
  margin: auto;
} */
.card .sources{
  display:flex;
  top: 0%;
  right: 0%;
  padding: 2px 8px;
  border-radius: 10px;
  justify-content:center;
  position:absolute;
  background-color:red;
  color:#fff;
}
.news .news-content .card .card-img-top{
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 6px;
}
.news .news-content .card .card-body{
  flex: 1,1,auto;
}
.news .news-content .card .card-body .title{
  font-size: 23px;
  font-size: 500;
  margin-bottom: 20px;
}
.news .news-content .card .card-body .author{
  color: rgb(221, 41, 41);
}
.news .news-content .card .card-body p{
  text-align: justify;
  margin-bottom: 20px;
}
.news .news-content .card .card-body a{
  border: 2px solid blue;
  background-color: blue;
  color: #fff;
  margin-top: 10px;
  border-radius: 6px;
  font-size: 18px;
  padding: 6px 12px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.news .news-content .card .card-body a:hover{
  color: blue;
  background: none;
}
.news .btnArrow{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.news .btnArrow .btn{
  border: 2px solid blue;
  background-color: blue;
  color: #fff;
  width: 110px;
  margin-top: 10px;
  border-radius: 6px;
  font-size: 16px;
  padding: 6px 12px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.news .btnArrow .btn:hover{
  color: blue;
  background: none;
}
@media (max-width:650px) {
  *{
    margin: 0;
    padding: 0;
  }
  .max-width{
    width: 800px;
    margin: auto;
  }
  .navbar .max-width .logo1{
    display: block;
    top: 0;
    right: 10%;
    z-index: 999;
    /* background-color: white; */
  }
  .navbar .menu{
    position: absolute;
    left: 0;
    top: -500%;
    width: 100%;
    height: 260px;
    text-align: center;
    background-color: black;
    transition: all 0.3s ease;
  }
  .navbar .menu.active{
    top: 0;
  }
  .navbar .max-width .menu li{
    display: block;
    margin: 16px 0px;
  }
  .news .news-content .card{
    width: 100%;
    margin-bottom: 25px;
  }
  .news .text{
    font-size: 30px;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
